<div class="flex items-center justify-start">
    <a href="{% url 'core:home' %}" 
       class="flex items-center 
              font-brand font-semibold 
              text-4xl -tracking-0.5 
              no-underline">
        <div class="flex items-center translate-y-[0.25rem]">
            {% if show_text %}
            <span class="text-white hidden min-[30rem]:inline">
                Welp
            </span>
            {% endif %}
            <div class="relative">
                <i class="absolute 
                          text-5xl fa fa-headset 
                          text-sky-900 
                          shadow-md blur-[0.4rem] 
                          translate-x-[-0.05rem] translate-y-[0.05rem] 
                          opacity-50"></i>
                <i class="absolute 
                          text-5xl fa fa-headset 
                          text-sky-900 
                          shadow-md blur-[0.2rem] 
                          translate-x-[-0.05rem] translate-y-[0.05rem] 
                          opacity-20"></i>
                <i class="relative 
                          text-5xl fa fa-headset 
                          text-sky-200 
                          shadow-md 
                          translate-x-[0.05rem] translate-y-[-0.05rem]
                          icon-glow"></i>
            </div>
            {% if show_text %}
            <span class="text-white hidden min-[30rem]:inline">
                Desk
            </span>
            {% endif %}
        </div>
    </a> 
</div> 