@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:2wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:2wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900');

@theme {
  --font-brand: 'Grandstander', cursive;
  --font-ui: 'Roboto Condensed', 'Noto Sans', ui-sans-serif, system-ui, sans-serif;
  --font-content: 'Lato', ui-sans-serif, system-ui, sans-serif;
  --font-title: 'Roboto Slab', ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .font-brand {
    font-family: theme(fontFamily.brand);
  }
  
  .font-ui {
    font-family: theme(fontFamily.ui);
  }
  
  .font-content {
    font-family: theme(fontFamily.content);
  }
  
  .font-title {
    font-family: theme(fontFamily.title);
  }
} 