@import "tailwindcss";
@import "./variables.css";
@import "./base.css";
@import "./components.css";
@import "./navbar.css";
@import "./animations.css";

/* Add your styles here */
body {
    font-family: sans-serif;
    color: #333;
}

.vite-demo {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 #42b88344; }
  70% { box-shadow: 0 0 10px 10px #42b88322; }
  100% { box-shadow: 0 0 0 0 #42b88344; }
} 