@import "tailwindcss";

@theme {
  --color-primary: var(--color-abyss-300);
  --color-secondary: var(--color-abyss-400);
  --color-bg: var(--color-abyss-300);
  --color-text: var(--color-abyss-200);
  --color-accent: var(--color-abyss-500);
  --color-surface: var(--color-abyss-500);
  --color-border: var(--color-abyss-500);
}

@layer base {
  :root {
    --primary: var(--color-abyss-500);
    --secondary: var(--color-abyss-400);
    --background: var(--color-abyss-600);
    --text: var(--color-abyss-200);
    --accent: var(--color-abyss-500);
    --surface: var(--color-abyss-800);
    --border: var(--color-abyss-700);
    --color-primary: var(--color-abyss-500);
    --color-secondary: var(--color-abyss-400);
    --color-bg: var(--color-abyss-600);
    --color-text: var(--color-abyss-200);
    --color-accent: var(--color-abyss-500);
    --color-surface: var(--color-abyss-800);
    --color-border: var(--color-abyss-700);
  }

  [data-theme="desk"] {
    --primary: var(--color-sky-500);
    --secondary: var(--color-sky-400);
    --background: var(--color-sky-600);
    --text: var(--color-sky-200);
    --accent: var(--color-sky-500);
    --surface: var(--color-sky-900);
    --border: var(--color-sky-800);

    --color-primary: var(--color-sky-500);
    --color-secondary: var(--color-sky-400);
    --color-bg: var(--color-sky-600);
    --color-text: var(--color-sky-200);
    --color-accent: var(--color-sky-500);
    --color-surface: var(--color-sky-900);
    --color-border: var(--color-sky-800);
  }

  [data-theme="payflow"] {
    --primary: var(--color-forest-500);
    --secondary: var(--color-forest-400);
    --background: var(--color-forest-300);
    --text: var(--color-forest-200);
    --accent: var(--color-forest-500);
    --surface: var(--color-forest-300);
    --border: var(--color-forest-800);

    --color-primary: var(--color-forest-500);
    --color-secondary: var(--color-forest-400);
    --color-bg: var(--color-forest-300);
    --color-text: var(--color-forest-200);
    --color-accent: var(--color-forest-500);
    --color-surface: var(--color-forest-900);
    --color-border: var(--color-forest-800);
  }

  /* Tema oscuro adicional */
  [data-theme="dark"] {
    --primary: var(--color-sky-500);
    --secondary: var(--color-sky-400);
    --background: var(--color-sky-700);
    --text: var(--color-sky-100);
    --accent: var(--color-abyss-500);
    --surface: var(--color-sky-800);
    --border: var(--color-sky-700);

    --color-primary: var(--color-sky-500);
    --color-secondary: var(--color-sky-400);
    --color-bg: var(--color-sky-700);
    --color-text: var(--color-sky-100);
    --color-accent: var(--color-abyss-500);
    --color-surface: var(--color-sky-800);
    --color-border: var(--color-sky-700);
  }
}
