@font-face {
    font-family: 'Grandstander-local';
    src: url('../fonts/Grandstander/static/Grandstander-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: block;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    font-optical-sizing: auto;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/static/RobotoMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('../fonts/Roboto_Mono/static/RobotoMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 1000;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 200 1000;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@theme {
    --color-earth-50: #fae8d6;
    --color-earth-100: #f5d0ad;
    --color-earth-200: #f0b17d;
    --color-earth-300: #eb9651;
    --color-earth-400: #e27b2c;
    --color-earth-500: #c45e1d;
    --color-earth-600: #954616;
    --color-earth-700: #68310f;
    --color-earth-800: #3b1c08;
    --color-earth-900: #1a0c03;
    --color-earth-950: #120802;

    --color-sky-50: #f4fafd;
    --color-sky-100: #e6f1f9;
    --color-sky-200: #cce3f3;
    --color-sky-300: #a9d1ea;
    --color-sky-400: #83bddf;
    --color-sky-500: #5ca8d6;
    --color-sky-600: #3d88be;
    --color-sky-700: #2e6996;
    --color-sky-800: #1f4764;
    --color-sky-900: #0f2332;
    --color-sky-950: #071219;
} 