{% load static %}
{% load django_vite %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welp App{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <link rel="stylesheet" href="{% vite_asset_url 'frontend/main.css' %}">
    
    {% vite_hmr_client %}
    {% vite_asset 'frontend/main.js' %}
    
    <meta name="htmx-config" content='{"headers": {"X-CSRFToken": "{{ csrf_token }}"}}'>
    {% htmx_script %}
    
    {% block styles %}{% endblock %}
</head>

<body data-namespace="{{ request.resolver_match.namespace|default:'core' }}">
    <header>
        {% block header %}
            {% include "core/navbar.html" %}
        {% endblock %}
    </header>

    <aside>
        {% block aside %}{% endblock %}
    </aside>
    
    <main>
        <div id="app">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        {% block footer %}{% endblock %}
    </footer>
    
    {% block scripts %}{% endblock %}
</body>

</html> 