{% load core_tags %}

<nav>
    {% brand_logo show_text=True current_namespace=request.resolver_match.namespace %}
    <div class="flex items-center space-x-1">
        <a href="{% url 'core:dev_purchase_workflow' %}" class="app-wide-button secondary" style="margin-left:1rem;">
            <div class="app-wide-button-content">
                <i class="fa fa-question-circle app-wide-button-icon"></i>
                <span class="app-wide-button-text">Manual de Workflow</span>
            </div>
        </a>
    </div>
</nav> 