<a href="#" onclick="event.preventDefault();document.getElementById('logout-form').submit();" class="group relative inline-flex items-center justify-center px-1.5 py-1 font-ui transition-colors duration-200 no-underline">
    <div class="flex items-center text-[var(--navbar-link-text)] group-hover:text-[var(--navbar-link-hover)] transition-colors duration-200">
        <i class="text-xl sm:text-2xl md:text-xl fa fa-sign-out-alt align-middle"></i>
        <span class="ml-1.5 text-xl font-semibold align-middle tracking-wide">
            {% if user and user.first_name %}
                {% if user.first_name|length > 8 %}
                    {{ user.first_name|slice:":6" }}...
                {% else %}
                    {{ user.first_name }}
                {% endif %}
            {% else %}
                Salir
            {% endif %}
        </span>
    </div>
</a>

<form id="logout-form" action="{% url 'core:logout' %}" method="post" class="hidden">
    {% csrf_token %}
</form> 