<a href="{% url link %}" class="group relative inline-flex items-center justify-center 
          px-1.5 py-1 
          font-ui 
          transition-colors duration-200 
          no-underline">
    <div class="flex items-center 
                text-[var(--navbar-link-text)] 
                group-hover:text-[var(--navbar-link-hover)] 
                {% if active %}
                    !text-[var(--navbar-link-active)] 
                    translate-x-[-0.05rem] translate-y-[0.05rem]
                {% endif %}">
        <i class="text-lg sm:text-xl 
                  {{ icon }} 
                  transition-colors duration-100
                  {% if label == 'WelpDesk' or label == 'WelpPay' %}block md:!hidden{% else %}inline{% endif %}"></i>
        <span class="{% if label == 'WelpDesk' or label == 'WelpPay' %}hidden md:inline{% else %}ml-2 hidden md:inline{% endif %}
                     {% if label == 'WelpDesk' or label == 'WelpPay' %}text-xl font-bold{% else %}text-lg font-medium{% endif %}
                     tracking-wide
                     {% if label == 'WelpDesk' or label == 'WelpPay' %}brand-text-override{% endif %}">
            {{ label }}
        </span>
    </div>
</a> 