<div class="select-field" id="select-field-{{ field.name }}">
    <article class="select-field-container">
        <div class="form-group">
            <label class="form-label">{{ field.label }}</label>
            
            <input type="hidden" name="{{ field.name }}" id="id_{{ field.name }}" value="{{ field.value|default:'' }}">
            
            <div class="treemap-container" id="treemap-{{ field.name }}">
                {% if field.field.queryset %}
                    <script type="application/json" id="initial-options-{{ field.name }}">
                    [
                        {"value": "", "text": "--- Seleccionar {{ field.label }} ---"},
                        {% for option in field.field.queryset %}
                        {"value": "{{ option.pk }}", "text": "{{ option|escape }}"}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                    </script>
                {% elif field.choices %}
                    <script type="application/json" id="initial-options-{{ field.name }}">
                    [
                        {% for value, label in field.choices %}
                        {"value": "{{ value }}", "text": "{{ label|escape }}"}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                    </script>
                {% endif %}
            </div>
            
            {% if field.errors %}
                <div class="text-status-open">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ field.errors }}
                </div>
            {% endif %}
            {% if help_text %}
                <small class="help-text">
                    <i class="fa fa-info-circle"></i>
                    {{ help_text }}
                </small>
            {% endif %}
        </div>
    </article>
</div>