<!-- templates/components/core/select-field.html -->

<div class="select-field">
    <article class="select-field-container">
        <div class="form-group">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                <div class="text-status-open">
                    <i class="fa fa-exclamation-circle"></i>
                    {{ field.errors }}
                </div>
            {% endif %}
            {% if help_text %}
                <small class="help-text">
                    <i class="fa fa-info-circle"></i>
                    {{ help_text }}
                </small>
            {% endif %}
        </div>
    </article>
</div>