{% load core_tags %}
{% with last_message=ticket.messages.last %}
    {% if last_message.status != 'closed' %}
        <div class="ticket-actions">
            {% if can_close_ticket %}
            <a href="{% url 'welp_payflow:detail' ticket.id %}?close=1" class="ticket-action-close">
                <i class="ticket-action-icon-close"></i>
                <span>CERRAR</span>
            </a>
            {% endif %}
            {% for target_status in transition_buttons %}
                <button class="ticket-action-{{ target_status }}" style="background-color: {{ PAYFLOW_STATUSES|get_item:target_status|get_item:'color' }}; color: white;">
                    <span>{{ PAYFLOW_STATUSES|get_item:target_status|get_item:'icon' }}</span>
                    <span>{{ PAYFLOW_STATUSES|get_item:target_status|get_item:'label' }}</span>
                </button>
            {% endfor %}
            <a href="{% url 'welp_payflow:detail' ticket.id %}" class="ticket-action-respond">
                <i class="ticket-action-icon"></i>
                <span>RESPONDER</span>
            </a>
        </div>
    {% else %}
        <div class="ticket-actions">
            <span class="ticket-action-closed">
                <i class="ticket-action-icon-closed"></i>
                <span>TICKET CERRADO</span>
            </span>
        </div>
    {% endif %}
{% endwith %}