{% load core_tags %}
{% with last_message=ticket.messages.last %}
    {% if last_message.status != 'closed' %}
        <div class="ticket-actions">
            {% if can_close_ticket %}
                {% ticket_action_button 'close' ticket_id=ticket_id %}
            {% endif %}
            {% for target_status in transition_buttons %}
                {% ticket_action_button target_status ticket_id=ticket_id %}
            {% endfor %}
            {% ticket_action_button 'feedback' ticket_id=ticket_id %}
        </div>
    {% endif %}
{% endwith %}
