{% with last_message=ticket.messages.last %}
    {% if last_message.status != 'closed' %}
        <div class="ticket-actions">
            <button class="ticket-action-close">
                <i class="ticket-action-icon-close"></i>
                <span>CERRAR</span>
            </button>
            <button class="ticket-action-authorize">
                <i class="ticket-action-icon-authorize"></i>
                <span>AUTORIZAR</span>
            </button>
            <a href="{% url 'welp_payflow:detail' ticket.id %}" class="ticket-action-respond">
                <i class="ticket-action-icon"></i>
                <span>RESPONDER</span>
            </a>
        </div>
    {% else %}
        <div class="ticket-actions">
            <span class="ticket-action-closed">
                <i class="ticket-action-icon-closed"></i>
                <span>TICKET CERRADO</span>
            </span>
        </div>
    {% endif %}
{% endwith %}