{% extends "core/base.html" %}
{% load core_tags %}
{% load django_vite %}

{% block title %}Crear Solicitud - Welp Payflow{% endblock %}

{% block content %}
<section data-select-options-url="{% url 'welp_payflow:select-options' 'FIELD_TYPE' %}">
    <h2>Crear Nueva Solicitud</h2>
    
    <form method="post" enctype="multipart/form-data" id="payflow-form">
        {% csrf_token %}
        
        <div id="component-udn" class="form-component active">
            {% select_field form.udn %}
        </div>
        
        <div id="component-sector" class="form-component">
            {% select_field form.sector %}
        </div>
        
        <div id="component-accounting" class="form-component">
            {% select_field form.accounting_category %}
        </div>
        
        <div id="component-fields-body" class="form-component">
            {% select_fields_body form %}
        </div>
        
        {% if form.non_field_errors %}
            <article>
                <div class="text-status-open">
                    {{ form.non_field_errors }}
                </div>
            </article>
        {% endif %}
        
        <div id="component-buttons" class="flex flex-col sm:flex-row gap-4 justify-center">
            <a href="{% url 'welp_payflow:index' %}" class="button-secondary">
                Volver
            </a>
            <button type="button" class="button-secondary" id="clear-button">
                Limpiar
            </button>
            <button type="submit" form="payflow-form" class="button-primary" id="submit-button" disabled>
                Crear Solicitud
            </button>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
{% vite_asset 'frontend/js/select-field-treemap.js' %}
{% vite_asset 'frontend/js/payflow-create-form.js' %}
{% endblock %} 