{% extends "core/base.html" %}
{% load core_tags %}
{% load django_vite %}

{% block title %}Crear Solicitud - Welp Payflow{% endblock %}

{% block content %}
<section>
    <h1>Crear Nueva Solicitud</h1>

    <form method="post" enctype="multipart/form-data" hx-target="this" hx-swap="outerHTML" id="payflow-form">
        {% csrf_token %}

        <div id="udn-container" data-url="{% url 'welp_payflow:htmx-udn' %}"></div>

        <div id="sector-container"></div>

        <div id="accounting-category-container"></div>

        <div id="fields-body-container"></div>

        {% if form.non_field_errors %}
        <article>
            <div class="text-status-open">
                {{ form.non_field_errors }}
            </div>
        </article>
        {% endif %}

        <div class="component-buttons">
            <a href="{% url 'welp_payflow:index' %}" class="button-secondary">Volver</a>
            <button type="button" class="button-secondary" id="reset-form-btn">Limpiar</button>
            <button type="submit" form="payflow-form" class="button-primary">Crear Solicitud</button>
        </div>
    </form>
</section>
{% endblock %}

{% block scripts %}
    {% vite_asset 'frontend/js/welp_payflow/create.js' %}
{% endblock %} 