{% extends "core/base.html" %}
{% load core_tags %}
{% load django_vite %}

{% block title %}{{ ticket.title }} - Welp Payflow{% endblock %}

{% block content %}
<section>
    <div class="ticket-detail-header">
        <div class="flex justify-between items-center">
            <a href="{% url 'welp_payflow:list' %}" class="detail-back-button">
                <i class="detail-back-icon"></i>
                <span>Solicitudes</span>
            </a>
            
            {% ticket_status ticket %}
        </div>
    </div>

    <div class="ticket-detail-container">
        {% ticket_container ticket expandido=True %}
    </div>
    
    {% ticket_message_input form_action=request.get_full_path show_attachments=True cancel_url="welp_payflow:list" %}
</section>

{% endblock %}

{% block scripts %}
    {% vite_asset 'frontend/js/welp_payflow/attachment_manager.js' %}
{% endblock %} 