{% extends "core/base.html" %}
{% load payflow_tags %}
{% load django_vite %}

{% block title %}Solicitudes - Welp Payflow{% endblock %}

{% block content %}
<section>
    <h1>Lista de Solicitudes</h1>

    <div id="tickets-container">
        {% for ticket in tickets %}
            {% ticket_container ticket %}
        {% empty %}
            {% ticket_empty %}
        {% endfor %}
    </div>
</section>

{% pagination page_obj request %}
{% endblock %}

{% block scripts %}
    {% vite_asset 'frontend/js/ticket_interactivity.js' %}
{% endblock %} 