<article class="ticket-mermaid-workflow">
    <div class="mermaid">
        %%{init: {'theme': 'base', 'themeVariables': { 'arrowheadColor': '#d1d5db'}, 'flowchart': { 'arrowMarkerAbsolute': true }}}%%
        graph LR
            A["ABIERTO"] --> B["AUTORIZADO"]
            B --> C["PRESUPUESTADO"]
            C --> D["PAGO AUTORIZADO"]
            C --> E["RECHAZADO"]
            C --> F["CERRADO"]
            E --> C
            D --> G["PROCESANDO PAGO"]
            G --> H["EN ENVÍO/ENTREGA"]
            H --> F

            linkStyle 0,1,2,3,4,5,6,7,8 stroke:#E0E0E0,stroke-width:2px;

            {% for node, style in styles.items %}
            style {{ node }} {{ style }}
            {% endfor %}
    </div>
    <script>
        if (window.mermaid) {
            window.mermaid.run();
        }
    </script>
</article> 