{% load payflow_tags %}

{% if categories.count > 1 %}
    <article class="select-selection-container">
        <label>Categoría Contable:</label>
        <div class="radio-button-group">
            {% for category in categories %}
                {% radio_button target='accounting_category' id=category.pk label=category.name next_target='fields-body' %}
            {% endfor %}
        </div>
    </article>
{% elif categories.count == 1 %}
    {% with categories|first as category %}
        <article class="select-selection-container" id="accounting-category-container">
            <label>Categoría Contable:</label>
            <p class="selected-value">{{ category.name }} (seleccionada automáticamente)</p>
            <input type="hidden" name="accounting_category" value="{{ category.pk }}" />
            <div
                hx-get="{% url 'welp_payflow:htmx-fields-body' accounting_category=category.pk %}"
                hx-target="#fields-body-container"
                hx-swap="outerHTML"
                hx-trigger="load"
            ></div>
        </article>
    {% endwith %}
{% else %}
    <article class="select-selection-container" id="accounting-category-container">
        <p>No hay categorías contables disponibles para el sector seleccionado.</p>
    </article>
{% endif %} 