<article class="select-fields-body" id="fields-body-container">
    <div class="space-y-6">
        <div id="component-title" class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
                {{ form.title.errors }}
            {% endif %}
        </div>
        <div id="component-description" class="form-group">
            {{ form.description.label_tag }}
            {{ form.description }}
            {% if form.description.help_text %}
                <small>{{ form.description.help_text }}</small>
            {% endif %}
            {% if form.description.errors %}
                {{ form.description.errors }}
            {% endif %}
        </div>
        <div id="component-amount" class="form-group">
            {{ form.estimated_amount.label_tag }}
            {{ form.estimated_amount }}
            {% if form.estimated_amount.errors %}
                {{ form.estimated_amount.errors }}
            {% endif %}
        </div>
        <div id="component-attachments" class="form-group">
            {{ form.attachments.label_tag }}
            {{ form.attachments }}
            {% if form.attachments.errors %}
                {{ form.attachments.errors }}
            {% endif %}
        </div>
    </div>
</article> 