{% load payflow_tags %}

{% if sectors.count > 1 %}
    <article class="select-selection-container">
        <label>Sector:</label>
        <div class="radio-button-group">
            {% for sector in sectors %}
                {% radio_button target='sector' id=sector.pk label=sector.name next_target='accounting-category' %}
            {% endfor %}
        </div>
    </article>
{% elif sectors.count == 1 %}
    {% with sectors|first as sector %}
        <article class="select-selection-container" id="sector-container">
            <label>Sector:</label>
            <p class="selected-value">{{ sector.name }} (seleccionado automáticamente)</p>
            <input type="hidden" name="sector" value="{{ sector.pk }}" />
            <div
                hx-get="{% url 'welp_payflow:htmx-accounting-category' sector=sector.pk %}"
                hx-target="#accounting-category-container"
                hx-swap="outerHTML"
                hx-trigger="load"
            ></div>
        </article>
    {% endwith %}
{% else %}
    <article class="select-selection-container" id="sector-container">
        <p>No hay sectores disponibles para la UDN seleccionada.</p>
    </article>
{% endif %}