{% load payflow_tags %}


{% if expanded %}
    <article class="ticket-container-detail">
        <div class="ticket-summary-detail">
            <div class="ticket-title-detail">
                {{ ticket.title }}
            </div>
            <div class="ticket-info">
                <span class="tags-ticket-udn">{{ ticket.udn.name }}</span>
                <span class="tags-ticket-sector">{{ ticket.sector.name }}</span>
                <span class="tags-ticket-category">{{ ticket.accounting_category.name }}</span>
                {% with status_info=ticket|get_status_flow %}
                <span class="status status-{{ ticket.status }} tag" style="color: {{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'color' }};">
                    <span class="mr-1">{{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'icon' }}</span>
                    {{ ticket.status|get_status_label }}
                </span>
                {% endwith %}
                <div id="ticket-feedback-count-{{ ticket.id }}" class="inline align-middle text-xs" 
                    hx-get="{% url 'welp_payflow:htmx-ticket-feedback-count' ticket.id %}"
                    hx-trigger="load"
                    hx-swap="outerHTML">
                </div>
            </div>
        </div>
        
        <div class="ticket-details-detail">
            <div class="ticket-details-content">
                {% for message in ticket.messages.all %}
                    {% ticket_message message %}
                {% empty %}
                    <div class="ticket-no-messages">
                        ⚠️ Este ticket no tiene mensajes
                    </div>
                {% endfor %}
                {% if not hide_buttons %}
                <div class="ticket-action-row flex justify-between items-center gap-2 mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                    {% ticket_actions ticket %}
                </div>
                {% else %}
                <div class="ticket-action-row flex justify-end items-center mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                </div>
                {% endif %}
            </div>
        </div>
    </article>
{% else %}
<article class="ticket-container">
    <details>
        <summary class="ticket-summary">
            <div class="ticket-title">
                <i class="ticket-caret"></i>
                {{ ticket.title }}
            </div>
            <div class="ticket-info">
                <span class="tags-ticket-udn">{{ ticket.udn.name }}</span>
                <span class="tags-ticket-sector">{{ ticket.sector.name }}</span>
                <span class="tags-ticket-category">{{ ticket.accounting_category.name }}</span>
                {% with status_info=ticket|get_status_flow %}
                <span class="status status-{{ ticket.status }} tag" style="color: {{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'color' }};">
                    <span class="mr-1">{{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'icon' }}</span>
                    {{ ticket.status|get_status_label }}
                </span>
                {% endwith %}
                <div id="ticket-feedback-count-{{ ticket.id }}" class="inline align-middle text-xs" 
                    hx-get="{% url 'welp_payflow:htmx-ticket-feedback-count' ticket.id %}"
                    hx-trigger="load"
                    hx-swap="outerHTML">
                </div>
            </div>
        </summary>
        
        <div class="ticket-details">
            <div class="ticket-details-content">
                {% for message in ticket.messages.all %}
                    {% ticket_message message %}
                {% empty %}
                    <div class="ticket-no-messages">
                        ⚠️ Este ticket no tiene mensajes
                    </div>
                {% endfor %}
                {% if not hide_buttons %}
                <div class="ticket-action-row flex justify-between items-center gap-2 mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                    {% ticket_actions ticket %}
                </div>
                {% else %}
                <div class="ticket-action-row flex justify-end items-center mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                </div>
                {% endif %}
            </div>
        </div>
    </details>
</article>
{% endif %}