{% load format_tags %}
{% load payflow_tags %}
<div class="ticket-message">
    <span class="ticket-message__author">
        <i class="ticket-message__author-icon fa-solid fa-user"></i>
        {% if message.user %}
            {{ message.user.get_full_name|default:message.user.username }}
        {% else %}
            Usuario eliminado
        {% endif %}
    </span>
    <div class="ticket-message__body">
        {{ message.body }}
        <span class="ticket-message__date">
            {{ message.created_on|timesince }}
        </span>
    </div>
    {% if message.attachments.exists %}
        <div class="message-attachments">
            {% for attachment in message.attachments.all %}
                <a href="{{ attachment.file.url }}" class="attachment-link" target="_blank">
                    <i class="attachment-icon"></i>
                    <span class="attachment-name">{{ attachment.file.name|basename }}</span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>

