{% load format_tags %}
{% load payflow_tags %}
<div class="ticket-message">
    {% if message.body %}
        <span class="message-author">
            <i class="user-icon"></i>
            {{ message.status|get_status_label }} por
            {% if message.user %}
                {% if message.user.first_name and message.user.last_name %}
                {{ message.user.first_name }} {{ message.user.last_name }}
                {% else %}
                    {{ message.user.username }}
                {% endif %}
            {% else %}
                Usuario eliminado
            {% endif %}
        </span>
        <div class="ticket-message-body">
            {{ message.body }}
            <span class="ticket-message-date">
                {{ message.created_on|relative_date }}
            </span>
        </div>
    {% else %}
        <div class="flex items-baseline justify-between">
            <span class="message-author">
                <i class="user-icon"></i>
                {{ message.status|get_status_label }} por
                {% if message.user %}
                    {% if message.user.first_name and message.user.last_name %}
                    {{ message.user.first_name }} {{ message.user.last_name }}
                    {% else %}
                        {{ message.user.username }}
                    {% endif %}
                {% else %}
                    Usuario eliminado
                {% endif %}
            </span>
            <span class="text-[10px] text-forest-400 italic font-sans mr-2">
                {{ message.created_on|relative_date }}
            </span>
        </div>
    {% endif %}
    {% if message.attachments.exists %}
        <div class="message-attachments">
            {% for attachment in message.attachments.all %}
                <a href="{% url 'welp_payflow:attachment' attachment.id %}" class="attachment-link">
                    <i class="fa-solid fa-paperclip attachment-icon mr-1"></i>
                    <span class="attachment-name">
                        {% with basename=attachment.file.name|basename %}
                            {% if basename|length > 30 %}
                                {{ basename|slice:":25" }}...{{ basename|slice:"-5:" }}
                            {% else %}
                                {{ basename }}
                            {% endif %}
                        {% endwith %}
                    </span>
                </a>
            {% endfor %}
        </div>
    {% endif %}
</div>

