{% load i18n %}
{% load payflow_tags %}


{% if expanded %}
    <article class="ticket-messages">
        <div class="ticket-summary-detail">
            <div class="ticket-title-detail">
                {{ ticket.title }}
            </div>
            <div class="ticket-info">
                {% ticket_summary_info ticket %}
                <span class="tags-ticket-udn">{{ ticket.udn.name }}</span>
                <span class="tags-ticket-sector">{{ ticket.sector.name }}</span>
                <span class="tags-ticket-category">{{ ticket.accounting_category.name }}</span>
                {% with status_info=ticket|get_status_flow %}
                <span class="status status-{{ ticket.status }} tag" style="color: {{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'color' }};">
                    <span class="mr-1">{{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'icon' }}</span>
                    {{ ticket.status|get_status_label }}
                </span>
                {% endwith %}
            </div>
        </div>
        
        <div class="ticket-details-detail">
            <div class="ticket-details-content">
                {% for message in ticket.messages.all %}
                    {% ticket_message message %}
                {% empty %}
                    <div class="ticket-no-messages">
                        ⚠️ Este ticket no tiene mensajes
                    </div>
                {% endfor %}
                {% if not hide_buttons %}
                <div class="ticket-action-row flex justify-between items-center gap-2 mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                    <div class="flex items-center gap-2">
                        {% ticket_actions ticket %}
                        <a href="{% url 'welp_payflow:detail' ticket.id %}?view_only=true" class="bg-surface border border-border text-text text-xs rounded-full py-1 px-3 inline-flex items-center font-medium hover:brightness-110 no-underline transition-all duration-200">
                            <i class="fa-solid fa-eye mr-2"></i>
                            <span>Ver</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="ticket-action-row flex justify-end items-center mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                </div>
                {% endif %}
            </div>
        </div>
    </article>
{% else %}
<article class="ticket-container">
    <details>
        <summary class="ticket-summary">
            <div class="ticket-title">
                <i class="ticket-caret"></i>
                {{ ticket.title }}
            </div>
            <div class="ticket-info">
                {% ticket_summary_info ticket %}
                <span class="tags-ticket-udn">{{ ticket.udn.name }}</span>
                <span class="tags-ticket-sector">{{ ticket.sector.name }}</span>
                <span class="tags-ticket-category">{{ ticket.accounting_category.name }}</span>
                {% with status_info=ticket|get_status_flow %}
                <span class="status status-{{ ticket.status }} tag" style="color: {{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'color' }};">
                    <span class="mr-1">{{ PAYFLOW_STATUSES|get_item:ticket.status|get_item:'icon' }}</span>
                    {{ ticket.status|get_status_label }}
                </span>
                {% endwith %}
            </div>
        </summary>
        
        <div class="ticket-details">
            <div class="ticket-details-content">
                {% for message in ticket.messages.all %}
                    {% ticket_message message %}
                {% empty %}
                    <div class="ticket-no-messages">
                        ⚠️ Este ticket no tiene mensajes
                    </div>
                {% endfor %}
                {% if not hide_buttons %}
                <div class="ticket-action-row flex justify-between items-center gap-2 mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                    <div class="flex items-center gap-2">
                        {% ticket_actions ticket %}
                        <a href="{% url 'welp_payflow:detail' ticket.id %}?view_only=true" class="bg-surface border border-border text-text text-xs rounded-full py-1 px-3 inline-flex items-center font-medium hover:brightness-110 no-underline transition-all duration-200">
                            <i class="fa-solid fa-eye mr-2"></i>
                            <span>Ver</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <div class="ticket-action-row flex justify-end items-center mt-4 mb-2">
                    {% with status_info=ticket|get_status_flow %}
                    <span class="ticket-action-closed">
                        <i class="ticket-action-icon-closed"></i>
                        {{ status_info.current_action }}
                    </span>
                    {% endwith %}
                </div>
                {% endif %}
            </div>
        </div>
    </details>
</article>
{% endif %}