{% load django_vite %}
{% load django_htmx %}
{% load component_tags %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Sitio{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% load static %}{% static 'dist/favicon.ico' %}">
    
    {# Dependencias CSS de componentes #}
    {% component_css_dependencies %}
    
    {% vite_hmr_client %}
    {% vite_asset 'frontend/main.js' %}
    {% htmx_script %}
</head>
<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <div id="app">
        {% block content %}{% endblock %}
    </div>
    
    {# Dependencias JS de componentes #}
    {% component_js_dependencies %}
</body>
</html> 