{% load payflow_tags %}
{% load ticket_message_tags %}
{% load core_tags %}

{% for ticket in tickets %}
    {% ticket_container ticket expanded=False %}
{% empty %}
    {% ticket_empty %}
{% endfor %}

{% if page_obj.has_other_pages %}
<div id="pagination" class="flex flex-row justify-center items-center w-full gap-x-2">
    {% if page_obj.has_previous %}
        {% component "button"
            label="Primera"
            color="button-secondary"
            icon="fa fa-angle-double-left"
            action="?page=1{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}"
            target="#tickets-container" 
            hx-get="?page=1&needs_attention={{ needs_attention }}"
            hx-target="#tickets-container"
            hx-swap="innerHTML"
            />
        {% component "button"
            label="Anterior"
            color="button-secondary"
            icon="fa fa-angle-left"
            action="?page={{ page_obj.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}"
            target="#tickets-container" 
            hx-get="?page={{ page_obj.previous_page_number }}&needs_attention={{ needs_attention }}"
            hx-target="#tickets-container"
            hx-swap="innerHTML"
            />
    {% endif %}

    <span class="text-gray-700">
        <span>Página</span> <span> {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</span>
    </span>

    {% if page_obj.has_next %}
        {% component "button"
            label="Siguiente"
            color="button-secondary"
            icon="fa fa-angle-right"
            action="?page={{ page_obj.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}"
            target="#tickets-container"
            hx-get="?page={{ page_obj.next_page_number }}&needs_attention={{ needs_attention }}"
            hx-target="#tickets-container"
            hx-swap="innerHTML"
            />
        {% component "button"
            label="Última"
            color="button-secondary"
            icon="fa fa-angle-double-right"
            action="?page={{ page_obj.paginator.num_pages }}{% if request.GET.urlencode %}&{{ request.GET.urlencode }}{% endif %}"
            target="#tickets-container" 
            hx-get="?page={{ page_obj.paginator.num_pages }}&needs_attention={{ needs_attention }}"
            hx-target="#tickets-container"
            hx-swap="innerHTML"
            />
    {% endif %}
</div>
{% endif %}