<a href="#" onclick="event.preventDefault();document.getElementById('logout-form').submit();" class="nav-link group">
    <div class="nav-link-content">
        <i class="nav-link-icon fa fa-sign-out-alt"></i>
        <span class="nav-link-label">
            {% if user and user.first_name %}
                {% if user.first_name|length > 8 %}
                    {{ user.first_name|slice:":6" }}...
                {% else %}
                    {{ user.first_name }}
                {% endif %}
            {% else %}
                Salir
            {% endif %}
        </span>
    </div>
</a>

<form id="logout-form" action="{% url 'core:logout' %}" method="post" class="hidden">
    {% csrf_token %}
</form> 